nav {
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav img {
    padding-left: 150px;
}

nav ul li {
    display: inline;
    color: white;
    padding: 20px;
}